# .htaccess

# Enable mod_rewrite
RewriteEngine On

# Redirect specific URL
Redirect 301 /Course/data-science.html /Course/data-science-training-course-in-noida.html
Redirect 301 /Course/data-analytics http://uncodemy.online/Course/data-analytics-training-course-in-noida.html
Redirect 301 /course/software-testing http://uncodemy.online/Course/software-testing-training-course-in-noida.html
# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+)/$ $1.html [L]

# Force trailing slash for directories
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*[^/])$ /$1/ [L,R=301]






















# .htaccess
# # Enable mod_rewrite
# RewriteEngine On

# # Redirects
# Redirect 301 /data-sceince.html /data-science-training-course-in.html
# Redirect 301 /old-page.html /new-page.html
# Redirect 301 /another-page.html /new-location.html
# # Add more redirects as needed

# # Remove .html extension
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}.html -f
# RewriteRule ^([^/]+)/$ $1.html [L]

# # Force trailing slash for directories
# RewriteCond %{REQUEST_FILENAME} -d
# RewriteRule ^(.*[^/])$ /$1/ [L,R=301]
